body {
    background-color: #ee7e33;
}
h1 {
    color: #58b739;
    text-align: center;
    font-size: 130px;
}    
h2 {
    color: #045f84;
    font-size: 60px;
}
p {
    font-size: 35px;
}
ul {
    font-size: 25px;
}
